* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
}

#mainArea {
  margin: 1em auto 0 auto;
}

input[type=number] {
  width: 5em;
}

div.formBox {
  max-width: 25em;
  margin: 0 auto;
}

.help-block.error {
  color: #db1111;
}

span.requestErr {
  margin-left: 2em;
  color: #db1111;
}

.mb-small {
  margin-bottom: 8px;
}

.cardDisplayArea {
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
  padding: 1em;
  overflow-y: auto;
  height: 100%;
  min-width: 15em;
}

.cardSettings {
  width: 25em;
}

.cardListBox {
  margin-right: 1em;
  width: 20em;
  overflow-y: auto;
}

.cardItem {
  display: inline-block;
  font-size: 16px;
  text-align: center;
  margin: 5px;
  width: 23%;
}

.tableContainer {
  margin: 0.5em;
  height: 100%;
}

div.ReactTable {
  height: 100%;
  min-width: 45em;
}

.spaciousBox {
  border: 2px solid grey;
  font-size: 16px;
  text-align: center;
  padding: 15px;
  max-width: 20em;
  margin: 0 auto;
}

.bonusBox {
  position: relative;
  border: 2px solid black;
  font-size: 22px;
  text-align: center;
  width: 14em;
  color: blue;
  margin: 1em auto;
  height: 2em;
  .loader {
    position: relative;
    top: 50%;
  }
  p.bonus {
    line-height: 1.8em;
  }
}

.loadingDimmer {
  opacity: 0.4;
}

.valueEditArea {
  padding: 10px;
  border: 1px solid black;
  min-width: 30em;
  max-width: 60em;
  display: flex;
  height: 50em;
  margin: 0 auto;
  img {
    width: 269px;
    height: 180px;
  }
  span.label {
    margin-right: 4px;
    padding: 2px;
  }
  .ptValueEdit {
    margin: 10px 0;
  }
}

.playgroundArea {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 48em;
}

.transactionDesc {
  padding: 10px;
}

.navLink {
  display: inline-block;
  line-height: 20px;
  padding: 15px;
  margin: 0 5px;
  text-decoration: none;
  &:hover {
    background: lightgray;
  }
}
